*{
  margin:0;
  padding:0;
  font-family:sans-serif;
  font-weight:lighter;
  font-size:16px;
  line-height:1.2em;
  border:0;
}
html{
  color:#333;
}
header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding:0.5em;
  background:#333;
  color:white;
  text-align: center;
}
article{
  padding:1em;
  max-width:400px;
  margin:1.7em auto 0;
  background:#eee;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
form{
  background:#ccc;
  border-radius: 2px;
  margin-bottom: 8px;
  font-size: 0;
}
form span{
  display:inline-block;
  width:50%;
}
input[type=checkbox]{
  display:none;
}
label{
  display:block;
  padding:0.5em;
  background:white;
  border-radius:2px;
}
label:before{
  content:"";
  display:inline-block;
  width:0.8em;
  height:0.8em;
  border:1px solid #ccc;
  border-radius: 50%;
  margin-right:0.25em;
  background:transparent;
}
input[type=checkbox]:checked ~ label:before{
  background:#648ACD;
}
button{
  display:block;
  padding:0.5em;
  color:#333;
  border-radius:2px;
  width:100%;
  margin-bottom:0.5em;
  outline:none;
  cursor:pointer;
  transition:background 0.5s ease-out;
}
button:hover{
  background:#ddd;
}
button:active{
  background:#ccc;
}
button:last-child{
  margin-bottom:0;
}
p#display{
  background:#333;
  padding:1em;
  min-height:4em;
  text-align: center;
  color:white;
  font-size:2em;
  border-radius: 2px;
  margin-bottom: 0.5em;
}
#splash{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:100;
  background:#eee;
  transition:opacity 0.5s ease-out;
}
#splash p{
  font-size: 7em;
  color: #333;
  text-shadow: 1px 1px 0 white;
  text-align: center;
  margin-top: 0.5em;
}
@media(max-width:400px){
  body{
    background:#eee;
  }
}
