button{
  display:block;
  padding:0.5em;
  color:#333;
  border-radius:2px;
  width:100%;
  height:10%;
  margin-bottom:0.5em;
  outline:none;
  cursor:pointer;
  transition:background 0.5s ease-out;

  &:hover{
    background:#ddd;
  }

  &:active{
    background:#ccc;
  }

  &:last-child{
    margin-bottom:0;
  }

}

