.feet{
  position:absolute;
  left:50%;
  top:50%;
  width:100px;
  height:100px;
  margin: -50px;
  transition:transform 0s linear;
  .left, .right{
    display:block;
    width: 40px;
    height: 80px;
    position:absolute;
    top:0;
    left:0;
    transition:transform 0s linear;
    svg{
      transform: scale(0.95);
    }
  }
  .left{
    transform: translateX(0) translateY(10px);
    border-top-left-radius: 20px 45px;
    border-top-right-radius: 20px 45px;
    border-bottom-left-radius: 20px 45px;
    border-bottom-right-radius: 20px 45px;
  }

  .right{
    transform: translateX(60px) translateY(10px);
  }
}

.fakie{
  .feet{
    transform: rotate(-180deg);
  }
  &.truespin .feet{
    transform: rotate(180deg);
  }
}

.animate .feet,
.animate .feet .left,
.animate .feet .right{
  transition:transform 4s linear;
}
