
form{
  background:#ccc;
  border-radius: 2px;
  margin-bottom: 8px;
  font-size: 0;
  display:none;
}

form span{
  display:inline-block;
  width:50%;
}

input[type=checkbox]{
  display:none;
}

label{
  display:block;
  padding:0.5em;
  background:white;
  border-radius:2px;
}

label:before{
  content:"";
  display:inline-block;
  width:0.8em;
  height:0.8em;
  border:1px solid #ccc;
  border-radius: 50%;
  margin-right:0.25em;
  background:transparent;
}

input[type=checkbox]:checked ~ label:before{
  background:#648ACD;
}

