#splash{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:100;
  background:#eee;
  transition:opacity 0.5s ease-out;

  p{
    font-size: 7em;
    color: #333;
    text-shadow: 1px 1px 0 white;
    text-align: center;
    margin-top: 0.5em;
  }
}
