title Roll, Sucka!
meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
meta(name='apple-touch-fullscreen', content='yes')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-status-bar-style', content='black')
link(rel='apple-touch-icon', sizes='128x128', href='128.png')
link(rel='icon', sizes='128x128', href='128.png')
link(rel='stylesheet', href='roll_sucka.min.css')
link(rel='manifest', href='manifest.json')
meta(name='mobile-web-app-capable', content='yes')
