form
  span
    input#stupid(type='checkbox', name='stupid')
    label(for='stupid')
      | Stupid Tricks    
  span
    input#switch(type='checkbox', name='switch')        
    label(for='switch')
      | Switch Tricks
  span
    input#ramp_mode(type='checkbox', name='ramp_mode')
    label(for='ramp_mode')
      | Ramp Mode
  span
    input#spins(type='checkbox', name='spins')
    label(for='spins')
      | Spins
